.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    margin-top:10px;
}
.mobile{
    position: relative;
    align-items: center;
    top:40px;
}