.button{
    width: 133px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-manrope);
    font-weight: bold;
    background-color: var(--color-secondary);
}
