/* ESTILOS DEL FOOTER */
@use '../mixins/responsive.scss' as *;
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  @include responsive(tablet){
    margin-bottom:60px;
  }
}
