@use '../mixins/responsive.scss' as *;
.founder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include responsive(desktop){
    position: relative;
    top:250px;
    margin:auto;
  }
  &__photo {
    width: 281px;
    height: 281px;
    align-items: center;
    position: relative;
    margin: 0 auto;
    @include responsive(tablet){
      justify-content: left;
      margin:10px 0;
    }
  }
  &__biography {
    width: 343px;
    top: -50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--font-manrope);
    background-color: var(--color-primary);
    @include responsive(tablet){
      width: 470px;
      margin:0;
      left:180px;
      top:-130px;
      text-align: left;
      display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items:flex-start;
    }
    @include responsive(desktop){
      width: 730px;
      left:230px;
      top:-160px;
    }
  }
  &__title {
    font-size: 30px;
    color: white;
    font-family: var(--font-fraunces);
   
  }
  &__text {
    color: white;
  }
}
