@use '../mixins/pseudo.scss' as *;
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 30px;
  gap: 40px;
}
.header--top {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &::before {
    @include pseudo(950px, 800px);
    left: 50%;
    transform: translateX(-50%);
    top: -300px;
    z-index: -1;
    border-radius: 50rem;
    background-color: var(--color-primary);
  }
}
.header__menu {
  font-family: var(--font-manrope);
  color: white;
  &::before {
    @include pseudo(123px, 2px) {
      margin-top: 25px;
      background-color: var(--color-secondary);
    }
  }
}
