:root {
  /* Variables CSS */
  --font-manrope:'Manrope', sans-serif;
  --font-fraunces: 'Fraunces', serif;
  --color-primary:rgba(36, 5, 62, 1);
  --color-secondary:rgba(68, 255, 161, 1);
  --color-text:rgba(88, 77, 98, 1);

}

/* Variables SASS */
